@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

:root {
	--blue: #1d2746;
	--salmon: #fc997c;
	--purple: #5b048e;
	--gray: #f4f4ff;
	--white: #ffffff;
	--github-focus: red;
	--placeholder: #daddfc69;
	--translate: translate(-50%, -50%);
	--shadow: 4px 10px 10px #121a33;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "DM Serif Display", serif;
	background-color: var(--blue);
}

header h1,
.again,
.label-score,
.label-highscore {
	color: var(--salmon);
}

body,
main,
.bullet,
.score,
.highscore,
.message {
	color: var(--gray);
}

header {
	position: relative;
	height: 44vh;
	border-bottom: 7px solid var(--salmon);
}

::placeholder {
	font-size: 0.55em;
	color: var(--placeholder);
	text-align: center;
	transform: translateY(-10px);
}

main {
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.left {
	width: 52rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right {
	width: 52rem;
	font-size: 3.5em;
	margin-top: -30px;
}

h1 {
	font-size: 6em;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 48%;
	left: 50%;
	transform: var(--translate);
}

.number {
	background: var(--gray);
	width: 250px;
	height: 250px;
	color: var(--blue);
	font-size: 12em;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 12px solid var(--salmon);
	padding: 4rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	border-radius: 50%;
}

.again {
	position: absolute;
	top: 2rem;
	left: 2rem;
	top: 18%;
	left: 50%;
	transform: var(--translate);
}

.guess {
	background: none;
	border: 6px solid var(--salmon);
	border-radius: 4px;
	font-family: inherit;
	color: inherit;
	font-size: 7em;
	padding: 2.5rem;
	width: 25rem;
	text-align: center;
	display: block;
	margin-bottom: 2.5rem;
}

.btn {
	border: none;
	background-color: var(--gray);
	color: var(--blue);
	font-size: 3.5em;
	font-weight: 700;
	font-family: inherit;
	padding: 16px;
	cursor: pointer;
	width: 250px;
	border-radius: 8px;
}

input:focus,
.btn:focus {
	outline: 4px solid white;
	outline-offset: 4px;
}

#reset:active {
	box-shadow: var(--shadow);
}

#check:active {
	box-shadow: var(--shadow);
	transform: translateY(6px);
	transform: scale(0.98);
}

.btn:hover {
	background-color: var(--salmon);
}

.message {
	margin-bottom: 11.5rem;
	height: 3.5rem;
	letter-spacing: 1px;
	font-size: 1.25em;
}

.label-score {
	margin-bottom: 2rem;
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--gray);
}

.github-corner:focus .octo-arm,
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@media (max-width: 768px) {
	header {
		height: 35vh;
	}

	main {
		flex-direction: column-reverse;
	}

	.left,
	.right {
		width: auto;
	}

	.right {
		margin-top: 120px;
		padding-bottom: 8px;
	}

	.number {
		width: 220px;
		height: 220px;
		font-size: 8em;
	}

	.message {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 0.9em;
	}

	.label-score,
	.label-highscore {
		font-size: 0.8em;
	}

	main {
		margin-top: -2rem;
	}
	.left {
		margin-top: -2.5rem;
	}

	header h1 {
		font-size: 5em;
		white-space: nowrap;
	}

	.guess {
		padding: 1px 25px 1px 25px;
		font-size: 6.5em;
	}
}

@media (max-width: 480px) {
	header {
		height: 35vh;
	}

	main {
		flex-direction: column-reverse;
	}

	.right {
		margin-top: 80px;
		padding-bottom: 8px;
	}

	.number {
		width: 150px;
		height: 150px;
		font-size: 8em;
	}

	.message {
		margin-bottom: 20px;
		text-align: center;
	}

	.message,
	.label-score,
	.label-highscore {
		font-size: 0.75em;
	}

	main {
		margin-top: -1rem;
	}

	.left {
		margin-top: -2.5rem;
	}

	header h1 {
		font-size: 4em;
		white-space: nowrap;
	}

	.guess {
		padding: 5px;
		font-size: 5em;
		width: 180px;
		border: 4px solid var(--salmon);
	}

	.btn {
		width: 180px;
		font-size: 2.75em;
		padding: 5px;
	}
}
